{% extends 'core/base.html' %}

{% block title %}Ramiro Gallo{% endblock %}

{% load static %}
{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %} 
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %} 

{% block content %}
    <!-- Contenido Principal -->
    {% for about in about_list %}
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{{about.image.url}}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">{{about.title}}</h2>   
          <p>{{about.description|safe}}</p>
          <p>
            <a href="{% url 'update' about.id %}">Editar</a>
          </p>
        </div>
      </div>  
    </div>
    {% endfor %}
    {% endblock %}

