{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar página{% endblock %}

{% block background %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %} 
<h1>Acerca de</h1>
<span class="subheading">Backend Developer Jr</span>
{% endblock %} 

{% block content %}
{% include 'portfolio/includes/projects_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style="color:green">
              Pagina editada correctamente
              <a href="{% url 'about-list' %}">Haz click aquí para ver el resultado</a>
            </p>
          {% endif %}
            <form action="" method="post">{% csrf_token %}
              {{ form.as_p }}
              <div class="text-center">                  
                <input type="submit" class="btn btn-primary btn-block" value="Actualizar página" />
              </div>  
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}